'^GSPC', 'IND', 'CBOE', 'USD', '', 0.0, ''
'^IXIC', 'IND', 'NASDAQ', 'USD', '', 0.0, ''
'^DJI', 'IND', 'NYSE', 'USD', '', 0.0, ''
'^RUT', 'IND', 'NYSE', 'USD', '', 0.0, ''
'TSLA', 'STK', 'SMART', 'USD', '', 0.0, ''
'SCTY', 'STK', 'SMART', 'USD', '', 0.0, ''
'FEYE', 'STK', 'SMART', 'USD', '', 0.0, ''
'DXCM', 'STK', 'SMART', 'USD', '', 0.0, ''
'AAPL', 'STK', 'SMART', 'USD', '', 0.0, ''
'MDSO', 'STK', 'SMART', 'USD', '', 0.0, ''
'QIHU', 'STK', 'SMART', 'USD', '', 0.0, ''
'JD', 'STK', 'SMART', 'USD', '', 0.0, ''